<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_dot</key>
    <string>_dot.glif</string>
    <key>_meddeh</key>
    <string>_meddeh.glif</string>
    <key>_noonbowl</key>
    <string>_noonbowl.glif</string>
    <key>_roundot</key>
    <string>_roundot.glif</string>
    <key>_sadhead</key>
    <string>_sadhead.glif</string>
    <key>_sadkufihead</key>
    <string>_sadkufihead.glif</string>
    <key>_smallhamza</key>
    <string>_smallhamza.glif</string>
    <key>_tahsmall</key>
    <string>_tahsmall.glif</string>
    <key>_wasla</key>
    <string>_wasla.glif</string>
    <key>ain-ar</key>
    <string>ain-ar.glif</string>
    <key>ain-ar.fina</key>
    <string>ain-ar.fina.glif</string>
    <key>ain-ar.init</key>
    <string>ain-ar.init.glif</string>
    <key>ain-ar.medi</key>
    <string>ain-ar.medi.glif</string>
    <key>alefMaksura-ar</key>
    <string>alefM_aksura-ar.glif</string>
    <key>alefMaksura-ar.fina</key>
    <string>alefM_aksura-ar.fina.glif</string>
    <key>alefMaksura-ar.ss01</key>
    <string>alefM_aksura-ar.ss01.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterisk-ar</key>
    <string>asterisk-ar.glif</string>
    <key>behDotless-ar</key>
    <string>behD_otless-ar.glif</string>
    <key>behDotless-ar.init</key>
    <string>behD_otless-ar.init.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>dal-ar</key>
    <string>dal-ar.glif</string>
    <key>dal-ar.ss01</key>
    <string>dal-ar.ss01.glif</string>
    <key>dammatan-ar</key>
    <string>dammatan-ar.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>fehDotless-ar</key>
    <string>fehD_otless-ar.glif</string>
    <key>five-ar</key>
    <string>five-ar.glif</string>
    <key>fiveFarsi-ar</key>
    <string>fiveF_arsi-ar.glif</string>
    <key>four-ar</key>
    <string>four-ar.glif</string>
    <key>fourFarsi-ar</key>
    <string>fourF_arsi-ar.glif</string>
    <key>fourFarsi-ar.urdu</key>
    <string>fourF_arsi-ar.urdu.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>hah-ar</key>
    <string>hah-ar.glif</string>
    <key>hah-ar.init</key>
    <string>hah-ar.init.glif</string>
    <key>heh-ar</key>
    <string>heh-ar.glif</string>
    <key>heh-ar.init</key>
    <string>heh-ar.init.glif</string>
    <key>heh-ar.ss01</key>
    <string>heh-ar.ss01.glif</string>
    <key>heh-ar.ss02</key>
    <string>heh-ar.ss02.glif</string>
    <key>hehgoal-ar.fina</key>
    <string>hehgoal-ar.fina.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>jeem-ar</key>
    <string>jeem-ar.glif</string>
    <key>kaf-ar</key>
    <string>kaf-ar.glif</string>
    <key>kaf-ar.fina</key>
    <string>kaf-ar.fina.glif</string>
    <key>kaf-ar.init</key>
    <string>kaf-ar.init.glif</string>
    <key>kurdv</key>
    <string>kurdv.glif</string>
    <key>lam-ar</key>
    <string>lam-ar.glif</string>
    <key>lam-ar.init</key>
    <string>lam-ar.init.glif</string>
    <key>lam_alef-ar</key>
    <string>lam_alef-ar.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>meem-ar</key>
    <string>meem-ar.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine-ar</key>
    <string>nine-ar.glif</string>
    <key>one-ar</key>
    <string>one-ar.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>qafDotless-ar</key>
    <string>qafD_otless-ar.glif</string>
    <key>question-ar</key>
    <string>question-ar.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>reh-ar</key>
    <string>reh-ar.glif</string>
    <key>sad-ar</key>
    <string>sad-ar.glif</string>
    <key>sad-ar.init</key>
    <string>sad-ar.init.glif</string>
    <key>sad-ar.init.ss01</key>
    <string>sad-ar.init.ss01.glif</string>
    <key>seen-ar</key>
    <string>seen-ar.glif</string>
    <key>seen-ar.init</key>
    <string>seen-ar.init.glif</string>
    <key>seven-ar</key>
    <string>seven-ar.glif</string>
    <key>shadda-ar</key>
    <string>shadda-ar.glif</string>
    <key>six-ar</key>
    <string>six-ar.glif</string>
    <key>sixFarsi-ar</key>
    <string>sixF_arsi-ar.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>tah-ar</key>
    <string>tah-ar.glif</string>
    <key>tah-ar.ss01</key>
    <string>tah-ar.ss01.glif</string>
    <key>three-ar</key>
    <string>three-ar.glif</string>
    <key>two-ar</key>
    <string>two-ar.glif</string>
    <key>twoFarsi-ar</key>
    <string>twoF_arsi-ar.glif</string>
    <key>waw-ar</key>
    <string>waw-ar.glif</string>
    <key>yehbarree-ar</key>
    <string>yehbarree-ar.glif</string>
    <key>yehbarree-ar.fina</key>
    <string>yehbarree-ar.fina.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
