<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Otilde</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.beh-left</key>
    <array>
      <string>behDotless-ar.medi</string>
      <string>behDotless-ar.init</string>
      <string>beh-ar.medi</string>
      <string>beh-ar.init</string>
      <string>peh-ar.medi</string>
      <string>teh-ar.medi</string>
      <string>teh-ar.init</string>
      <string>noon-ar.medi</string>
      <string>noon-ar.init</string>
      <string>yehHamzaabove-ar.medi</string>
      <string>yehHamzaabove-ar.init</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>otilde</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
      <string>G</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>g</string>
      <string>oe</string>
      <string>q</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>p</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>otilde</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
    </array>
  </dict>
</plist>
