<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight-ar</key>
    <dict>
      <key>five-ar</key>
      <integer>-110</integer>
      <key>nine-ar</key>
      <integer>-220</integer>
      <key>seven-ar</key>
      <integer>-260</integer>
      <key>six-ar</key>
      <integer>-360</integer>
      <key>three-ar</key>
      <integer>-310</integer>
      <key>two-ar</key>
      <integer>-240</integer>
    </dict>
    <key>five-ar</key>
    <dict>
      <key>eight-ar</key>
      <integer>-90</integer>
      <key>seven-ar</key>
      <integer>-100</integer>
      <key>six-ar</key>
      <integer>-270</integer>
    </dict>
    <key>four-ar</key>
    <dict>
      <key>seven-ar</key>
      <integer>-130</integer>
      <key>three-ar</key>
      <integer>-120</integer>
    </dict>
    <key>nine-ar</key>
    <dict>
      <key>tehMarbuta-ar</key>
      <integer>-85</integer>
    </dict>
    <key>public.kern1.beh-left</key>
    <dict>
      <key>ain-ar.fina</key>
      <integer>-80</integer>
      <key>ain-ar.medi</key>
      <integer>-80</integer>
      <key>alef-ar.fina</key>
      <integer>-60</integer>
      <key>alefHamzaabove-ar.fina</key>
      <integer>-60</integer>
      <key>alefHamzabelow-ar.fina</key>
      <integer>-60</integer>
      <key>alefMadda-ar.fina</key>
      <integer>-60</integer>
      <key>alefMaksura-ar.fina</key>
      <integer>-120</integer>
      <key>beh-ar.fina</key>
      <integer>-80</integer>
      <key>beh-ar.medi</key>
      <integer>-80</integer>
      <key>dad-ar.fina</key>
      <integer>-100</integer>
      <key>dad-ar.medi</key>
      <integer>-100</integer>
      <key>dal-ar.fina</key>
      <integer>-160</integer>
      <key>feh-ar.fina</key>
      <integer>-60</integer>
      <key>feh-ar.medi</key>
      <integer>-60</integer>
      <key>fehDotless-ar.fina</key>
      <integer>-60</integer>
      <key>fehDotless-ar.medi</key>
      <integer>-60</integer>
      <key>ghain-ar.fina</key>
      <integer>-80</integer>
      <key>ghain-ar.medi</key>
      <integer>-80</integer>
      <key>hah-ar.fina</key>
      <integer>-120</integer>
      <key>heh-ar.fina</key>
      <integer>-80</integer>
      <key>heh-ar.fina.ss01</key>
      <integer>-80</integer>
      <key>heh-ar.medi.ss01</key>
      <integer>-60</integer>
      <key>heh-ar.medi.ss02</key>
      <integer>-80</integer>
      <key>jeem-ar.medi</key>
      <integer>-80</integer>
      <key>kaf-ar.fina</key>
      <integer>-60</integer>
      <key>khah-ar.fina</key>
      <integer>-120</integer>
      <key>khah-ar.medi</key>
      <integer>-80</integer>
      <key>lam-ar.fina</key>
      <integer>-60</integer>
      <key>lam-ar.medi</key>
      <integer>-60</integer>
      <key>lam_alef-ar.fina</key>
      <integer>-60</integer>
      <key>lam_alefHamzaabove-ar.fina</key>
      <integer>-60</integer>
      <key>lam_alefHamzabelow-ar.fina</key>
      <integer>-60</integer>
      <key>lam_alefMadda-ar.fina</key>
      <integer>-60</integer>
      <key>meem-ar.fina</key>
      <integer>-60</integer>
      <key>meem-ar.medi</key>
      <integer>-60</integer>
      <key>noon-ar.fina</key>
      <integer>-60</integer>
      <key>noon-ar.medi</key>
      <integer>-60</integer>
      <key>noonghunna-ar.fina</key>
      <integer>-60</integer>
      <key>qaf-ar.fina</key>
      <integer>-60</integer>
      <key>qaf-ar.medi</key>
      <integer>-60</integer>
      <key>qafDotless-ar.fina</key>
      <integer>-60</integer>
      <key>reh-ar.fina</key>
      <integer>-80</integer>
      <key>sad-ar.fina</key>
      <integer>-100</integer>
      <key>sad-ar.medi</key>
      <integer>-100</integer>
      <key>seen-ar.fina</key>
      <integer>-80</integer>
      <key>seen-ar.medi</key>
      <integer>-80</integer>
      <key>sheen-ar.fina</key>
      <integer>-80</integer>
      <key>sheen-ar.medi</key>
      <integer>-80</integer>
      <key>tah-ar.fina</key>
      <integer>-100</integer>
      <key>tah-ar.medi</key>
      <integer>-100</integer>
      <key>teh-ar.fina</key>
      <integer>-80</integer>
      <key>teh-ar.medi</key>
      <integer>-80</integer>
      <key>tehMarbuta-ar.fina</key>
      <integer>-80</integer>
      <key>tehMarbuta-ar.fina.ss01</key>
      <integer>-80</integer>
      <key>thal-ar.fina</key>
      <integer>-160</integer>
      <key>theh-ar.fina</key>
      <integer>-80</integer>
      <key>theh-ar.medi</key>
      <integer>-80</integer>
      <key>veh-ar.fina</key>
      <integer>-60</integer>
      <key>veh-ar.medi</key>
      <integer>-60</integer>
      <key>waw-ar.fina</key>
      <integer>-60</integer>
      <key>wawHamzaabove-ar.fina</key>
      <integer>-60</integer>
      <key>yeh-ar.fina</key>
      <integer>-120</integer>
      <key>yeh-ar.medi</key>
      <integer>-60</integer>
      <key>yehHamzaabove-ar.fina</key>
      <integer>-120</integer>
      <key>yehHamzaabove-ar.medi</key>
      <integer>-80</integer>
      <key>zah-ar.fina</key>
      <integer>-100</integer>
      <key>zah-ar.medi</key>
      <integer>-100</integer>
      <key>zain-ar.fina</key>
      <integer>-80</integer>
    </dict>
    <key>seven-ar</key>
    <dict>
      <key>eight-ar</key>
      <integer>-190</integer>
      <key>five-ar</key>
      <integer>-150</integer>
    </dict>
    <key>three-ar</key>
    <dict>
      <key>five-ar</key>
      <integer>-50</integer>
    </dict>
    <key>two-ar</key>
    <dict>
      <key>five-ar</key>
      <integer>-170</integer>
    </dict>
  </dict>
</plist>
